.clearfix:before,.clearfix:after
{
  content:"";
  display: block;
}

.clearfix:after
{
  clear:both;
}

.clearfix
{
  *zoom:1;
}


.container
{
  width:900px;
  /*height:500px;*/
  background: black;
  overflow: hidden;
  border:1px solid black;
  margin:0 auto;
}

.hidden
{
  width:4500px;
  /*height: 400px;*/
  /*background: black;
  display:inline-block;
  overflow: hidden;
  margin-left:0;*/
/*   background: url('../images/test.png') 4500px 0px ;
  padding-right:900px;*/
}

.hidden img
{
  width: 900px; 
  height: 300px;
  float:left;
}





