.container{
	width:500px;
	height:600px;
	padding:0px;
	margin:0px auto;
	overflow: hidden;
	position: relative;
}
.road{
	width:500px;
	height:50000px;
	margin:0px auto;
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
	position: absolute;
	top:-49400px;
}
.block{
	width:100px;
	height:300px;
	background-color: black;
	position: absolute;
	bottom:0px;
	left: 50px;
}
.redbike{
	width:20px;
	height:50px;
	background-color: red;
	position: absolute;
	top:49800;
	left:200px;
}