* {
	padding: 0px;
	margin: 0px;
}
.mainDiv{
  width: 1000px;
  height: 600px;
  border:1px solid red;
  background: orange;
}
.box {
	width: 25px;
	height: 25px;
	border: 1px solid blue;
	background-color: red;
	position: absolute;
}
.green {
	background-color: green;
}
.striker{
	background-color: #0f5455;
}
.inputFormContainer{
	width: 100px;
	height: 110px;
	position: absolute;
	border:1px solid red;
	z-index: 5;
	background-color: #fff000;
	top: 0px;
	left: 1000px;
	border-radius: 5px;
}     